* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}


html {
    overflow-x: hidden;
}


.content-inner{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
}
/* 
#header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;

} */



/* #header-content{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
} */

/* Header */

header {
    background-color: #1a1e1f;
    width: 100%;
    height: 100%;
    padding: 20px 48px;
    /* mobailshi icvleba */

}


.header-wrapper{
    display: flex;
        align-items: center;
        justify-content: center;
}


.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-wrapper {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            height: 100%;
            justify-content: center;
            
}

.menu-icon { 
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: 21px;
                justify-content: space-between;
                transition: transform .33s ease-out;
                width: 26px;
            }

.bar {
            background-color: #DBDBDB;
            border-radius: 1.5px;
            height: 3px;
}

.menu-icon .start , 
.menu-icon .end {
        width: 50%;
}

.menu-icon .start{
        transform-origin: right;
            transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
        }

.menu-icon .end {
        align-self: flex-end;
            transform-origin: left;
            transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
        
}

.nav-list {       
    display: flex;  
    align-items:center;                                                                                                                                                                           justify-content: space-between;
    list-style: none;
}

.nav-link {
            color: #f4f4f4;
            display: inline-block;
            padding: 0 25px;
}

.nav-link-active {
    color: #00a3e0;

}

/* Hero Section */

.hero{
        background: url(./assets/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp) top center no-repeat;
        background-size: auto;
        min-height: 371px;
        width:100%;
        display: flex;
        align-items: center;
}



.hero-title
{
    color: #f4f4f4;
    font-size: 42px;
    width: 980px;
}

.hero-title span{
    font-size: 34px;
}

.hero-description{
    background-color: #2b2b2b;
    padding: 63px 0;
}

.hero-text {
    color: #F4F4F4;
    font-size: 28px;
    padding-bottom:  63px ;
}

.hero-link {
    color: #00aef3;
    font-size: 20px;
    transition: color 0.4s ease 0s;
    
}

.hero-link:hover {
    color: #dbdbdb;
    font-size: 20px;
}

/* Courses */

.courses {
    background-color: #161616;
    padding: 43px 0;

}


.courses-header {
    font-size: 24px;
    color: #dbdbdb;
    padding-bottom: 68px;
}
.course-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 22px;
}

.card {
        border: 1px solid rgba(85, 85, 85, 1);
        border-radius: 6px;
        overflow: hidden;
}

.card-content {
    margin: 34px 0 34px 22px;
}

.card-header{
    color: #F4F4F4;
    font-size: 18px;
}

.card-text{
    font-size: 14px;
    color: #F4F4F4;
}
.card-link_wrapper{
    padding-top: 100px;
    display: flex;
    align-items: center; 
}

.card-header{
    margin-bottom: 35px;
}

.card-link_wrapper  a{
   padding-left: 8px;
   color: #00aeef;
    transition: color 0.4s ease 0s;
}

.card-link_wrapper a:hover{
    color: #0283b3;

}

.card-link_wrapper svg{
    margin-top: 6px;
}

/* Partners */

.partners{
    background-color: #2b2b2b;
    padding: 39px 0;
}

.partners-header{
    font-size: 24px;
    color: #f4f4f4;
}

.slides {
    display: none;
}

.slides img {
    display: block;
    width: 100%;
}


.prev,
.next {
    cursor: pointer;
    
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
    background-color: rgba(173, 216, 230, 0.3);
}

.dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active,
.dots:hover {
    background-color: rgba(173, 216, 230, 0.8);}